<body>
  <h1>Restablecer contrase単a</h1>
  <form action="/api/users/reset-password" method="post">
    <input type="hidden" name="token" value="{{token}}">
    <input type="password" name="password" placeholder="Nueva contrase単a">
    <input type="password" name="confirmPassword" placeholder="Confirmar contrase単a">
    <button type="submit">Restablecer contrase単a</button>
  </form>
</body>
</html>